body { background-color: #fdfdfd; color: #434a54; }
.wrapper { padding: 10px; max-width: 600px; margin: auto; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 20px; }
h1 { text-align: center; font-size: 44px; margin: 50px 0px; }
p { margin: 0 0 20px; }
footer { font-size: 14px; text-align: center; margin-top: 50px; border-top: 1px solid #d2d2d2; padding-top: 50px; }
